/*COLORES DE FONDO Y FUENTES*/
.fondoNaranja{
    background-color:#FF8D17 ;
}

.fondoAzul{
 background-color: #004AAD;
}

.fondoBeige{
    background-color:#E2C5A6 ;
}

.fondoMerigold{
    background-color: #FCAE1E;
}

.nunito-sans {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .searchbar {
      float: right;
      
      color: black;
      padding: 6px 10px;
      width: 120px;
      border: none;
      margin-top: 1px;
      margin-right: 8px;
      font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
      font-size: 1em;
      font-weight: bold;
      border-bottom: black 2px;
      transition: 0.3s;
  }
  
  .searchbar::placeholder {
      color: black;
      font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
      font-size: 1em;
      font-weight: bold;
      /* transition: 0.2s; */
  }
  
  .searchbar:focus {
      width: 400px;
      font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
      font-size: 1em;
      font-weight: bold;
      transition: 0.3s;
      /* Stops the input box from inheriting the styling from the inputs on the request form */
      border-bottom: black 2px;
      outline: none;
  }
  
  .btn-search {
      cursor: pointer;
      color: black;
      text-decoration: none !important;
      font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
      font-size: 1.5em;
      padding-top: 5px;
      margin-right: 40px;
  }

  /*Pagina de admin*/
  ::selection {
    background: #05bc55;
    color: #fff;
  }
  * {
    margin: 0;
    padding: 0;
  }

  main {
    margin: 50px 0 0 220px;
    padding: 20px;
  }
  main p {
    color: #6c757d;
  }
  main h1 {
    font-size: 60px;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  li {
    list-style-type: none;
  }
  .sideBar {
    z-index: 1000;
    background: #fff;
    position: fixed;
    top: 40px;
    left: 40px;
    padding: 40px 30px;
    box-shadow: 0 10px 20px #00000030;
    border-radius: 10px;
  
    height: 100vh;
    width: 60px;
  
    display: flex;
    flex-direction: column;
  
    transition: width 0.2s ease;
  }
  .sideBar.dark {
    background: #141414;
    color: #eee;
  }
  body.dark {
    background: #222;
    color: #eee;
  }
  .sideBar.dark * .link-icon {
    color: #ccc;
  }
  .profile {
    color: #222;
    font-size: 40px;
    margin-bottom: 30px;
    background: #eee;
    width: 60px;
    height: 60px;
    border-radius: 10px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navLinks {
    width: 100%;
  }
  .navLinks li {
    border-radius: 15px;
  }
  .navLinks li a {
    padding: 15px;
  }
  
  .navLinks:last-child {
    margin-top: auto;
    margin-bottom: 100px;
  }
  
  .link {
    display: flex;
    height: 30px;
  }
  
  .link-text {
    color: #6c757d;
    font-weight: 500;
    font-size: 18px;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.2s ease;
  }
  
  .link-icon {
    color: #222;
    flex-basis: 30px;
    font-size: 28px;
    margin-right: 15px;
  }
  
  .text-muted {
    color: #ccc;
    font-size: 15px;
    padding: 20px 0;
  }
  
  .navLinks li:hover {
    background: #eee;
  }
  
  .navLinks li:hover .link > * {
    color: #05bc55;
  }
  
  .sideBar:hover .link-text {
    transform: scaleX(1);
  }
  
  .sideBar:hover {
    width: 200px;
    align-items: flex-start;
  }
  
  figure img {
    width: 100%;
  }
  figure {
    text-align: center;
  }
  .like-color {
    color: #4267b2;
  }
  .like-anim {
    animation: like 0.6s;
  }
  
  .navLinks li:hover .link-like > * {
    color: #4267b2;
  }
  
  @keyframes like {
    50% {
      transform: scale(2) rotate(-45deg);
    }
  }
  
  /*graficas pagina admin*/

  body {
    background: #1b213b;
    color: #777;
    font-family: Montserrat, Arial, sans-serif;
  }
  
  .body-bg {
    background: #f3f4fa !important;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    font-weight: 600;
  }
  
  .box .apexcharts-xaxistooltip {
    background: #1b213b;
    color: #fff;
  }
  
  .content-area {
    max-width: 1280px;
    margin: 0 auto;
  }
  
  .box {
    background-color: #262d47;
    padding: 25px 25px;
    border-radius: 4px;
  }
  
  .columnbox {
    padding-right: 15px;
  }
  .radialbox {
    max-height: 333px;
    margin-bottom: 60px;
  }
  
  .apexcharts-legend-series tspan:nth-child(3) {
    font-weight: bold;
    font-size: 20px;
  }
  
  .edit-on-codepen {
    text-align: right;
    width: 100%;
    padding: 0 20px 40px;
    position: relative;
    top: -30px;
    cursor: pointer;
  }
  