/*COLORES DE FONDO Y FUENTES*/
.fondoNaranja{
    background-color:#FF8D17 ;
}

.fondoAzul{
 background-color: #004AAD;
}

.fondoBeige{
    background-color:#E2C5A6 ;
}

.fondoMerigold{
    background-color: #FCAE1E;
}

.nunito-sans {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
