/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and main content styling */
body {
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Productos */
.container {
    margin-top: 40px; /* Espacio arriba de las cards */
}

/* Cards */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Button */
.card button {
    background-color: #c0392b; /* Rojo */
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.card button:hover {
    background-color: #e74c3c; /* Rojo más claro */
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
